[flake8]
max-line-length = 79
per-file-ignores =
    migrations/versions/*.py:F401,F403
extend-ignore = E203, E266, E501, W503
exclude = 
    .git,
    build,
    dist,
    migrations,
    .venv,
    __pycache__,
docstring-convention = google